#!/usr/bin/env zsh

alias ref="source ~/.zshrc"

alias vim=nvim
alias cat=bat

alias erc="nvim ~/.zshrc"
alias eh="nvim ~/.zsh_history"
alias ea="nvim ~/.aliases"
alias ef="nvim ~/.functions"
alias ep="nvim ~/.zprofile"
alias et="nvim ~/.config/tmux/tmux.conf"

alias mux="tmuxinator"
alias tree="tree -I '.git|node_modules'"

alias javac-algs4="javac -cp .:$HOME/Documents/Others/Algorithms/algs4.jar"
alias java-algs4="java -cp .:$HOME/Documents/Others/Algorithms/algs4.jar"

alias cd1="cd .."
alias cd2="cd ../.."
alias cd3="cd ../../.."
alias cd4="cd ../../../.."
alias cd5="cd ../../../../.."
